@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
/**
*
* Testing
*
**/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  width: 10px;
  background-color: #1f2630;
  border-left: 0 solid #ffffff;
  border-right: 0 solid #ffffff;
  margin-block: 3px;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: #fc7613;
  width: 15% !important;
  height: 15% !important;
  border-radius: 50px;
}

::-webkit-scrollbar:hover {
  cursor: pointer;
}

::-moz-selection {
  /* code for firefox */
  color: #ffffff;
  background-color: #fc7613;
}

::selection {
  /* code for firefox */
  color: #ffffff;
  background-color: #fc7613;
}

/* end variables */
/*! start variables*/
/*! end variables*/
/*! start Global Rules*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Overpass", sans-serif;
}

:root {
  background-color: #141519;
}

/*! end Global Rules*/
/*! main code*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.card {
  display: block;
  background-color: #1f2630;
  width: 350px;
  height: max-content;
  padding: 30px;
  margin: auto;
  border-radius: 15px;
}
.card .icon {
  background-image: url(../images/icon-star.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #262f38;
  border-radius: 40px;
  padding: 10px 20px;
  max-width: 40px;
}
.card .icon:hover {
  background-color: #ffffff;
  cursor: pointer;
}
.card .text p:first-child {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  margin: 20px 0 0 0;
}
.card .text p:nth-child(2) {
  font-size: 12px;
  font-weight: 700;
  color: #888;
  margin: 10px 0 30px;
  line-height: 1.8;
}
.card .number {
  margin: 15px 0;
}
.card .number .rating_number {
  background-color: #262f38;
  color: #888;
  border-radius: 50%;
  padding: 15px 20px;
  margin: 0 4px;
  border: none;
  max-width: 45px;
  font-size: 12px;
  font-weight: 400;
}
.card .number .rating_number:hover {
  color: #ffffff;
  background-color: #fc7613;
  cursor: pointer;
}
.card .number .rating_number:focus {
  color: #ffffff;
  background-color: #7b8898;
}
.card #btn {
  border: none;
  border-radius: 30px;
  background-color: #fc7613;
  color: #ffffff;
  padding: 15px;
  margin: 20px 0 0 0;
  width: -webkit-fill-available;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px 3px #262f38;
  font-size: 12px;
  font-weight: 700;
}
.card #btn:hover {
  background-color: #ffffff;
  color: #fc7613;
  cursor: pointer;
}

.thankYou {
  display: none;
  background-color: #1f2630;
  width: 350px;
  height: max-content;
  padding: 30px;
  margin: auto;
  border-radius: 15px;
  text-align: center;
}
.thankYou .rating {
  color: #fc7613;
  background-color: #262f38;
  max-width: fit-content;
  padding: 10px;
  border-radius: 40px;
  margin: 10px auto;
  font-size: 14px;
  font-weight: 700;
}
.thankYou .text_thankYou p:first-child {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  margin: 20px 0 0 0;
}
.thankYou .text_thankYou p:nth-child(2) {
  font-size: 12px;
  font-weight: 700;
  color: #888;
  margin: 10px 3px;
  line-height: 1.8;
}

/*! start Attribution */
.attribution {
  position: absolute;
  bottom: 5rem;
  color: #7b8898;
  font-size: 14px;
  font-weight: 700;
  padding: 20px 0;
  text-align: center;
  width: -webkit-fill-available;
}
.attribution a {
  font-size: smaller;
  text-decoration: none;
  color: #fc7613;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
}
.attribution a:hover::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  content: "\f0a9";
  font-size: 14px;
  padding: 0 8px;
}

/*! end Attribution */
@media (max-width: 350px) {
  .card,
  .thankYou {
    width: 300px;
    padding: 30px 20px;
  }
  .card .number .rating_number {
    padding: 12px 15px;
  }
  .attribution {
    bottom: 0rem;
  }
}/*# sourceMappingURL=style.css.map */